<footer  class="footer mt-auto">
    <section>
      <span>Made by Anushka Rajvanshi</span>
      <br>
    <div>
      <a href="https://www.linkedin.com/in/anushka-rajvanshi-88495b1a0"><i class="fab fa-linkedin-in ficons"></i></a>
      <a href="https://github.com/Anushka-Rajvanshi"><i class="fab fa-github ficons"></i></a>
      <a href="https://www.instagram.com/anushka.rajvanshi/"><i class="fab fa-instagram ficons"></i></a>
    </div>
  </section>
  </footer>
</body>
</html>