<footer  class="footer mt-auto">
    <section>
      <span>Made by Anushka Rajvanshi</span>
      <br>
    <div>
      <a href=""><i class="fab fa-linkedin-in ficons"></i></a>
      <a href=""><i class="fab fa-github ficons"></i></a>
      <a href=""><i class="fab fa-instagram ficons"></i></a>
    </div>
  </section>
  </footer>
</body>
</html>